
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,600;0,700;0,800;0,900;1,200;1,800&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,600;0,700;0,800;0,900;1,200;1,800&family=Lora&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,600;0,700;0,800;0,900;1,200;1,800&family=Lora&family=Roboto+Condensed:wght@300&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {

      min-height: 100vh;
      margin: 0;


}

.solar-system {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    display: flex;
    height: 100vh;
    width: 100%;
    min-width: 46rem;
    overflow: hidden;
    position: relative;

}

.planetary-system {
   
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    padding-right: 4.25rem;
    margin-left: 25%;

}

.sun-container {
    position: absolute;
    background-color: #ffd029;
    box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
    height: 79.875rem;
    width: 79.875rem;
    transform: translate(-92%,-18%);
    border-radius: 50%;
    z-index: 2;

}

.sun {
    
    height: 100%;
    width: 100%;
    background-color: #ffd029;
    border-radius: 50%;
}

.header {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: 4.5rem;
}

.header__text,
.planet-description__title {
    color: #FFF;
    font-family: 'Secular One';
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 3.75rem */
    letter-spacing: 0.3375rem;
}

.header__subtitle,
.planet-description__subtitle {
    color: #FFD029;
    font-family: 'Lora';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 1.5rem */
    letter-spacing: 0.9rem;
}

.header__text, 
.header__subtitle {
    text-align: right;
}

.planets {
    margin: auto 0;
    display: flex;
    gap: 1%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: translateY(-50%);

}

.planet {
    border-radius: 50%;
    cursor: pointer;
}

.planet__ring {
    width: 13.63944rem;
    height: 0.34381rem;
    transform: rotate(-30deg);
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 50%;
}

#planet1 {
    width: 0.875rem;
    height: 0.875rem;
    background: #888;
    
}

#planet2 {
    width: 1.625rem;
    height: 1.625rem;
    background: #E7CDCD;
}

#planet3 {
    width: 1.75rem;
    height: 1.75rem;
    background: #428ED4;
}

#planet4 {
    width: 0.875rem;
    height: 0.875rem;
    background: #EF5F5F;
}

#planet5 {
    width: 11.75rem;
    height: 11.75rem;
    background: #E29468;
}

#planet6 {
    display: grid;
    place-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    margin: 0 1%;
    background: #C7AA72;
}

#planet7 {
    width: 4.125rem;
    height: 4.125rem;
    background: #C9D4F1;
}

#planet8 {
    width: 4.125rem;
    height: 4.125rem;
    background-color: #7A91A7;
}

.overlay {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    display: none;
    height: 100vh;
    width: 100%;
    min-width: 46rem;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.overlay-planet {
    position: absolute;
    box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
    height: 79.875rem;
    width: 79.875rem;
    transform: translate(-92%,-18%);
    border-radius: 50%;
    z-index: 2;
}

.overlay-sun {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.star1 {
    width: 6px;
    height: 6px;
}
.star2 {
    width: 3px;
    height: 3px;
}
.star3 {
    width: 5.8px;
    height: 5.8px;
}
.star4 {
    width: 3.2px;
    height: 3.2px;
}

.star1,
.star2,
.star3,
.star4 {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(0.13rem);
}


#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    animation: pulse 2.2s infinite;
    background-color: blue;
}

.planet-description {
    padding: 1rem 0;
    display: flex;
    width: 40rem;
    height: auto;
    max-height: 100vh;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    margin-inline-start: 25%;
    align-content: center;
    justify-content: center;

}

.planet-info,
.planet-info__titles {
    color: #FFF;
    font-family: 'Roboto Condensed';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.9125rem; /*170%;*/  
    letter-spacing: 0.18rem;
}

.planet-description p:nth-of-type(1) {
    overflow-y: auto;
}
::-webkit-scrollbar-track {
    background: rgb(22 13 42 / 0.3);
    border-radius: 1rem;

}
::-webkit-scrollbar {
    width: 0.8rem;
}
::-webkit-scrollbar-thumb {
    background: rgb(0 0 255 / 10%);
    border-radius: 1rem;

}

.separator {
    height: 0.0625rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.20);
}

.group-container {

}

.planet-info__titles {
    font-family: 'Secular One';
    font-weight: 400;
    line-height: 100%; /* 1.125rem */
    letter-spacing: 0.10125rem;
}

.planet-info__rangeContainer,
.planet-info__temperaturesContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.planet-info__rangeContainer > p,
.planet-info__temperaturesContainer > p  {
    margin-right: auto; 
}


@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
      color: rgba(255, 255, 0, 0.802);
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
      color: yellow;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
      color: rgba(255, 255, 0, 0.802);
    }
}